* {
    margin: 0px;
    padding: 0px;
}

div {
    width: 1200px;
}

.tieude {
    height: 121px;
}

.hinh1 {
    width: 215px;
    height: 121px;
    margin: 0px 10px;
    float: left;
}

.tieude .kphai {
    float: right;
    font-size: 13px;
    width: 885px;
    margin-top: 35px;
}

.thanh {
    height: 50px;
    background-color: green;
    padding: 10px;
    margin-bottom: 40px;
}

.thanh ul li {
    float: left;
    line-height: 50px;
    margin-right: 20px;
    list-style: none;
    padding: 0px 10px;
}

.thanh ul li a {
    color: white;
    text-decoration: none;
}

.thanh ul li:hover {
    background-color: rgb(181, 194, 205);
}

.thanh ul li:hover a {
    color: black;
}

.noidung .trai {
    float: left;
    background-color: green;
    width: 15px;
    height: 250px;
}

.noidung .giua {
    width: 770px;
    height: 400px;
    text-align: justify;
    font-size: 17px;
    margin-left: 30px;
    float: left;
}

.noidung .phai {
    width: 340px;
    float: right;
}

.hinh2,
.hinh3 {
    width: 340px;
    height: 180px;
    margin: 10px;
}

.hieuung {
    position: fixed;
    top: 0px;
}

.A {
    width: 700px;
    height: 159 px;
    padding: 25px 0px;
    border-bottom: 2px solid #ebebeb;
    list-style: none;
}

.A .img1 {
    width: 250px;
    height: 156px;
    display: inline-block;
}

.A img {
    width: 250px;
    height: auto;
}

.A .text1 {
    text-decoration: none;
    width: 430px;
    height: 127px;
    float: right;
    display: inline;
    font-family: Arial, Helvetica, sans-serif;

}

.A .text1 .a1 {
    margin: 0px;
    font-size: 20px;
    color: #333;
    font-weight: 600;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

.A .text1 .a2 {
    font-weight: bold;
    font-size: 14px;
    color: #41455e;
    text-decoration: none;
}

.A .text1 .a3 {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    color: #777;
}

.A .text1 p {
    font-size: 13px;
    font-family: Arial;
    color: #4d4d4d;
    line-height: 18px;
    display: block;
    margin-top: 10px;
}