.khungngoai{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}

img{
    width: 270px;
    border-radius: 10px 10px 0px 0px;
}

.khungtrong{
    width: 270px;
    height: 400px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid rgb(224, 224, 224);
    box-shadow: 0 2px 15px 0 gray;
    transition: 0.3s;
    margin-bottom: 20px;
}
.khungtrong:hover{
    transform: translateY(-15px);
    transition: 0.3s;
}

.khungtrong h4{
    color: red;
    font-weight: bold;
}
.khungtrong p{
    color: white;
    background-color: rgb(222, 67, 67);
    border-radius: 5px;
    padding: 5px 10px;
}