/* Function inSP */
.khungngoai{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}
.anh_1{
    width: 270px;
    height: 150px;
    border-radius: 10px 10px 0px 0px;
}
.khungtrong_1{
    width: 270px;
    height: 350px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid rgb(224, 224, 224);
    box-shadow: 0 2px 15px 0 gray;
    transition: 0.3s;
    float: left;
    margin: 10px;
}
.khungtrong_1:hover{
    transform: translateY(-15px);
    transition: 0.3s;
}
.thongtin_1 p{
    width: 130px;
    height: 25px;
    color: white;
    font-weight: bold;
    background-color: rgb(222, 67, 67);
    border-radius: 5px;
    padding: 5px ;
    margin: 0 68px 15px;    
}
.thongso_1 a{
    text-decoration: none;
}
.thongso_1 a:hover{
    color: red;
}
.tensp_1{
    margin: 10px 0px 0px 0px;
    padding: 0;
    font-weight: bold;
    height: 100px;
    text-transform: uppercase;
}

/* Function thongso */
.khungtrong_2{
    width: 45%;
    height: auto;
    float: right;
    margin: 0px 5px;
    font-size: 20px;
}
.anh_2{
    width: 50%;
    height: 50%;
    float: left;
}
.tensp_2{
    text-transform: uppercase;
}
.thongtin_2 .gia_2{
    color: red;
    font-weight: bold;
}